services:
  # PostgreSQL Database
  postgres:
    build: 
      context: .
      dockerfile: backend/DockerfileDatabase
    container_name: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

  # BACKEND (Spring Boot)
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend
    restart: unless-stopped
    depends_on:
      - postgres

  # FRONTEND (Angular + Nginx)
  frontend:
    build:
      context: .
      dockerfile: front-end/Dockerfile
    container_name: frontend
    ports:
      - "80:80"
    restart: unless-stopped
    depends_on:
      - backend

volumes:
  pgdata: