.chat-floater {
  position: fixed;
  inset: 0;
  z-index: 999;
  pointer-events: none;
}

.chat-popup {
  pointer-events: auto;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 25vw;
  height: 60vh;
  
  display: flex;
  flex-direction: column;

  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 26px rgba(0,0,0,0.25);
}

.popup-header {
  align-items: center;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  background: #0b5cff;
  color: white;
  font-weight: bold;
  border-radius: 16px 16px 0 0;

  .logo-container {
    display: flex;
    align-items: center;
    
    .logo {
      height: 40px;
      width: 40px;
      margin-right: 8px;
      border-radius: 50%;
    }
  }
}

.close-btn {
  border: none;
  background: transparent;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
