:host {
  display: block;
  background-color: #f1f1f1;
  padding: 0.5rem;
  min-height: 100%;
}

.info-view {
  margin: 2.5%;
  color: #000;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  h3 {
    margin-top: 2rem;
    font-size: 1.2rem;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  a {
    color: #1976d2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
