.property-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 40px;
  }

  .button-group {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 9999px;
    overflow: hidden;
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;

    button {
      flex: 1;
      padding: 0.5rem;
      border: none;
      background-color: white;
      cursor: pointer;
      font-weight: 500;
  
      &.selected {
        background-color: #d5ecf5;
      }
  
      &:not(:last-child) {
        border-right: 1px solid #ccc;
      }
  
      span {
        margin-right: 4px;
      }
    }
  }

  .zona-atributos {
    display: flex;
    gap: 1rem;

    .panel {
      border: 1px solid #bbb;
      border-radius: 6px;
      min-height: 150px;
      background: #fff;

      h4{
        justify-self: center;
      }
    }

    .atributos {
      width: 25%;

      .lista {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        padding: 1rem;
        padding-top: 0.5rem;
        max-height: 400px;
        overflow-y: auto;
      }

      .atributo {
        padding: 0.4rem 0.6rem;
        border-radius: 6px;
        text-align: center;
        cursor: grab;
        font-weight: 500;
      
        &.interaccion  { background-color: #e0e0e0; color: #333; }     // gris
        &.form         { background-color: #e0f7fa; color: #006064; }  // azul cian
        &.comun        { background-color: #cce5ff; color: #004085; }  // azul claro
        &.integer      { background-color: #ffe0b2; color: #8a4b00; }  // naranja
        &.number       { background-color: #fff3cd; color: #856404; }  // dorado
        &.string       { background-color: #e0ccff; color: #4b0082; }  // violeta
        &.boolean      { background-color: #d4edda; color: #155724; }  // verde
        &.array        { background-color: #fce4ec; color: #880e4f; }  // rosado
        &.object       { background-color: #ccf2f4; color: #004d4d; }  // cian oscuro
      }
    }

    .zona-soltar {
      width: 75%;
      border: 2px dashed #c9d3dd;
      background: #fbfbfb;
      border-radius: 8px;
      padding: 1rem;
      max-height: 400px;
      overflow-y: auto;

      p {
        font-style: italic;
        color: #bbb;
        font-size: 0.95rem;
      }

      .campo {
        background: #fefefe;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0.5rem;
        margin-bottom: 0.8rem;

        .cabecera {
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
          
            width: 18px;
            height: 18px;
          
            display: inline-flex;
            align-items: center;
            justify-content: center;
          
            img {
              width: 100%;
              height: 100%;
              transition: transform 0.2s ease;
            }
          
            &:hover img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
