:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  app-navigator {
    width: 100%;
    background-color: #f2f2f2;
  }

  .view-container {
    flex: 1;
    overflow-y: auto;
  }
}
