:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  app-navigator {
    width: 100%;
    background-color: #f2f2f2;
  }

  .view {
    flex: 1;
    overflow-y: auto;
  }
}
