:host {
  display: block;
  background-color: #f1f1f1;
  width: 100%;
  min-height: 100%;
  padding: 0.5rem;
}

.editor-view {
  margin: 2.5%;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  details {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;

    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      font-size: 1rem;
      padding: 1rem;
      cursor: pointer;
      list-style: none;
      border: none;
      background: none;

      &::marker {
        display: none;
      }

      .summary-left {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .arrow {
          transition: transform 0.2s ease;
        }
      }

      .icon-btn {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
      
        width: 25px;
        height: 25px;
      
        display: inline-flex;
        align-items: center;
        justify-content: center;
      
        img {
          width: 100%;
          height: 100%;
          transition: transform 0.2s ease;
        }
      
        &:hover img {
          transform: scale(1.1);
        }
      }      
    }

    .vacio{
      padding-left: 20px;
      font-style: italic;
    }
  }

  details[open] .arrow {
    transform: rotate(90deg);
  }

  .form-buttons {
    display: flex;
    gap: 0.5rem;
  
    button {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
    
      width: 25px;
      height: 25px;
    
      display: inline-flex;
      align-items: center;
      justify-content: center;
  
      img {
        width: 100%;
        height: 100%;
        transition: transform 0.2s ease;
      }
    
      &:hover img {
        transform: scale(1.1);
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
  
    button {
      background-color: #1a73e8;
      color: white;
      border: none;
      border-radius: 6px;
      padding: 0.5rem 1rem;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: background-color 0.2s ease, transform 0.1s ease;
  
      &:hover {
        background-color: #1666c1;
      }
  
      &:active {
        transform: scale(0.97);
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd;
    overflow: hidden;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 12px;
      border-bottom: 1px solid #eee;
      background-color: white;
      transition: background-color 0.2s;
      flex-grow: 1;
      cursor: pointer;
      padding: 10px;
      padding-left: 20px;
      padding-right: 15px;

      div{
        width: 100%;
      }

      button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
      
        width: 18px;
        height: 18px;
      
        display: inline-flex;
        align-items: center;
        justify-content: center;
    
        img {
          width: 100%;
          height: 100%;
          transition: transform 0.2s ease;
        }
      
        &:hover img {
          transform: scale(1.1);
        }
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: #f9f9f9;
      }
    }
  }
}
